 /*CORES
 #1b357e; Azul Escuro
  #1351d8; Azul claro*/

 /*PRINCIPAL */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     list-style: none;
     text-decoration: none;
 }

 body {
     position: fixed;
     width: 100%;
 }


 /*HEADER */
 header {
     width: 100%;
     height: 5rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 8px;
 }

 header ul {
     display: flex;
     gap: 2rem;

 }

 header ul li {
     cursor: pointer;

 }

 header nav {
     width: 34%;
 }


 /*LETRAS */
 h1 {
     color: #1351d8;
     font-size: 1.4rem;
 }

 h2 {
     color: #000000;
     font-size: 1.rem;
 }

 h3 {
     padding-bottom: 4px;
     color: aliceblue;
 }


 p {
     color: black;
 }


 /*LANCAMENTO */
 .principal {
     width: 100%;
     align-items: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-top: 3rem;
 }

 #imagePrincipal {
     width: 110%;
     height: auto;
     padding-right: 9rem;
 }

 /*FOOTER */
 footer {
     background-color: #1b357e;
     width: 100%;
     position: fixed;
     bottom: 0;
     padding-left: 1px;
     padding-right: 2px;
 }

 footer ul {
     display: flex;
     flex-direction: row;
     gap: 2px;
     align-items: center;

 }

 footer ul li {
     cursor: pointer;
 }

 footer .redes-sociais {
     display: flex;
     justify-content: space-between;
     align-items: center;
     text-align: center;
 }

 #logoRedes {
     width: 3rem;
 }

 #copyright {
     color: aliceblue;
     text-align: center;
     font-size: 1rem;
 }


 /*Formulario*/

 .formulario {
     width: 100%;
     align-items: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-top: 3rem;
 }